<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.batdemir.abtest">

    <application>
        <activity
            android:name="com.batdemir.abtest.scenario_v1.usage_1.view.MainActivityV1"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.batdemir.abtest.scenario_v1.usage_2.view.MainActivityV2"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.batdemir.abtest.scenario_v1.usage_3.view.MainActivityV3"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.batdemir.abtest.scenario_v2.usage_1.view.MainActivityV1"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.batdemir.abtest.scenario_v2.usage_2.view.MainActivityV2"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>